.angular
.circleci
.github
.storybook
.vscode
coverage
dist
intrastructure
node_modules

tmp
out-tsc

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

documentation.json
*.md
polyfills.ts

.sass-cache

.DS_Store
Thumbs.db
